<footer class="footer">
    <div class="content has-text-centered">
        <h1>Connect with me on social media!</h1>
    </div>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="columns is-mobile">
                <div class="column">
                    <figure class="image is-64x64">
                        <a href="https://www.facebook.com/david.j.fernandez.52" target="_blank">
                            <img src="../../../assets/footer-logos/fblogo.png">
                        </a>
                    </figure>                
                </div>
                <div class="column">
                    <figure class="image is-64x64">
                        <a href="https://www.instagram.com/djfdez_98/" target="_blank">
                            <img src="../../../assets/footer-logos/insta.png">
                        </a>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-64x64">
                        <a href="https://www.linkedin.com/in/david-jose-fernandez-a4436612a/" target="_blank">
                            <img src="../../../assets/footer-logos/linkedin.png">
                        </a>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-64x64">
                        <a href="https://www.youtube.com/channel/UCdya3TiT791rLenrdOthhVg" target="_blank">
                            <img src="../../../assets/footer-logos/youtube.png">
                        </a>
                    </figure>                
                </div>
            </div>
        </div>
    </div>
    <div class="content has-text-centered">
        <p>Developed by David Jose Fernandez</p>
    </div>
    <app-login-button class="login-button"></app-login-button>
</footer>