<section class="hero is-fullheight" style="background-image: url({{currentBackgroundImage}})">
    <div class="hero-body">
        <div class="">
            <p class="title is-size-1">
                David Jose Fernandez
            </p>
            <p class="subtitle is-size-2">
                Athelete | Software Engineer | Adventurer
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column is-one-third is-left-image">
            <figure class="image is-4by5">
                <img src="../../../assets/about_me_image.jpg">
            </figure>
        </div>
        <div id="aboutme" class="column grey center">
            <div>
                <h1 class="title">
                    About Me
                </h1>
                <p class="is-size-5">
                    Hello there, I’m glad you stumbled upon my webpage. Yes, indeed that is me in those pictures. 
                    My name is David Jose Fernandez and I am a second year Computer Science student at the Georgia 
                    Institute of Technology, or as I’ll be calling it for at least the next few years, home. 
                    Although I am currently living in the United States, I was born and raised in a the 
                    Dominican Republic, a small country in the island of Hispañola. As you can probably tell by 
                    my pictures, I am a pretty active person and love to go outside and experience the world through 
                    all sorts of crazy adventures. From diving deep into our oceans to climbing mountains who’s peaks 
                    are well over five thousand meters above sea level. 
                </p>
                <p class="is-size-5">
                    In this webpage you will find all sorts of information about me. Ranging from my 
                    resume, to various projects in which I have worked in the past, as well as previous 
                    job experiences.
                </p>
            </div>
        </div>
      </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column grey center">
            <div>
                <h1 class="title">
                    Photo Gallery
                </h1>
                <br>
                <p class="is-size-5">
                    Here you will find photographs of places I've taken while on my various trips. I wouldn't call
                    myself and expert but I do enjoy taking photographs as a hobby. I hope you find these
                    as enjoyable as I do!
                </p>
                <br><br>
                <button class="button is-link" [routerLink]="['/photo-gallery']">Go To Photo Gallery</button>
            </div>
        </div>
        <div class="column is-one-third is-right-image">
            <figure class="image is-square">
                <img class="photography-image" src="../../../assets/photography_section_image.JPG">
            </figure>
        </div>
      </div>
</section>
